@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=TASA+Explorer:wght@400..800&display=swap');

html {
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'TASA Explorer', sans-serif;
}

body{
    height: 100%;
    background: #4f4c46e6;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 50px;
    color: #ffffff;
    font-weight: 700;
    font-size: 32px;
}

.navbar li{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
    text-decoration: none;
    color: #ffffff
}

.navbar li a{
    text-decoration: none;
    color: #f2f2f2;
    font-weight: 600;
    font-size: 18px;
    transition: color 0.3s ease;
}

.navbar li a:hover{
    color: #bf9a9a;
}
.contact-button{
    padding: 10px 20px;
    background: #464040;
    color: #c8bcbc;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
}

.contact-button:hover{
    background: #956060;
    color: #ffffff;
}

.aboutPicture {
    display: flex;
    justify-content: left;
    margin-left: 50px;
    margin-top: 50px;
}
.profile-pic {
    width: 300px;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

@keyframes pictureIntro {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.profile-pic {
    width: 300px;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

    /* animation */
    animation: pictureIntro 0.8s ease-out forwards;
}
